*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;             /* 100 viewport height */
    font-family: 'Open Sans', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    font-size: 120%;
}

.container{
    background: #2f2f2fd0;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  .search input{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
  .temperature {
    margin: 0;
    margin-bottom: 0.5em;
    font-weight: 500;
font-size: 25px;
margin-top: 8px;
  }
  
  .weather-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }

  .error{
    text-align:left;
    margin-top: 10px;
    font-size: 15px;
    margin-left:80px;
    display: none;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
